# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
package-lock.json

# Build files
*.zip
dist/

# Environment
.env
.env.local
