/*
Theme Name: Blocksy EnviroLink Child Theme
Theme URI: https://envirolink.org
Description: Custom child theme for EnviroLink with featured daily roundup homepage layout
Author: EnviroLink
Author URI: https://envirolink.org
Template: blocksy
Version: 1.3.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: blocksy-envirolink-child
*/

/**
 * This child theme extends Blocksy with:
 * - Custom homepage layout featuring daily roundup
 * - News grid with responsive design
 * - EnviroLink metadata display on single posts
 *
 * All custom homepage styles are in envirolink-homepage.css
 * (loaded only on the homepage for performance)
 */

/* Import parent theme styles */
@import url('../blocksy/style.css');

/* ============================================
   CUSTOM MODIFICATIONS
   ============================================ */

/* Add any additional custom CSS here */
